<%= form_for :sound, url: {action: :create}, html: {class: 'pure-form'} do |f| %>
  <%= render partial: 'shared/form_errors', locals: {model: @sound} %>

  <fieldset>
    <legend>New Sound</legend>

    <%= f.hidden_field :uploader_id %>

    <div class=field>
      <%= f.label :title %><br />
      <%= f.text_field :title, required: true %>
    </div>

    <%= f.submit 'Upload', class: 'pure-button' %>
  </fieldset>
<% end %>
