<%= form_for :sound, url: {action: :create}, html: {class: 'pure-form'} do |f| %>
  <%= render partial: 'shared/form_errors', locals: {model: @sound} %>

  <fieldset>
    <legend>Upload a sound</legend>

    <div class=field>
      <%= f.label :title %><br />
      <%= f.text_field :title, required: true %>
    </div>

    <div class=field>
      <%= f.label :file %><br />
      <%= f.file_field :file, required: true %>
    </div>

    <%= f.button 'Upload', class: 'pure-button' %>
  </fieldset>
<% end %>
