<%= form_for :upload, url: {action: :create}, html: {class: 'pure-form'} do |f| %>
  <%= render partial: 'shared/form_errors', locals: {errors: @errors} %>

  <fieldset>
    <legend>Upload a sound</legend>

    <%= f.fields_for :sound do |ff| %>
      <div class=field>
        <%= ff.label :title %><br />
        <%= ff.text_field :title, required: true %>
      </div>
    <% end %>

    <div class=field>
      <%= f.label :file %><br />
      <%= f.file_field :file %>
    </div>

    <%= f.button 'Upload', class: 'pure-button' %>
  </fieldset>
<% end %>
